extends ../../../node_modules/jade-bootstrap/_bootstrap

mixin tree(node)
  ul
    for child in node.children
      li= child.path || child.name
        if child.children
          +tree(child)
    
block append styles
  style.
    h1 {
      font-size: 20px;
    }

block body
  .container
    .row
      .col-sm-offset-3.col-sm-9
        h1= title

    hr

    .row
      .col-sm-3
        +panel-info('locals')= Object.keys(req.res.locals).join(', ')

        +panel-info('page info')
          dl
            dt controller
            dd= controller.name
            
            dt route
            dd= route.name

        +panel-info('site tree')
          +tree(site)

      .col-sm-9
        block content
          .navbar.navbar-default
            .collapse.navbar-collapse
              ul.nav.navbar-nav
                for node in site.children[0].children
                  if node.visible(req)
                    +nav_item(node.url(), node.activeClass(req))= node.name
              ul.nav.navbar-nav.navbar-right
                for node in site.children[1].children
                  if node.visible(req)
                    +nav_item(node.url())= node.name

          h2= route.name

          p lorem grunt
